/* =============
    ArticleSection
============= */
#articlesection{

ul{
    li{
        img{
            width: 100%;
        }
        section{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". articlesection .";

            >div{
                grid-area: articlesection-content;
            }
        }
    }
}}