/* =============
    ArticleSection
============= */
#articlesection{

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". articlesection .";
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {

        @include md {
            grid-area: articlesection;
        }

        ul {

            #types{
                background-color: $white;
                margin: 18px 0px 11px 0px;

                @include md{
                    margin: 35px 0px 19px 0px;
                }

                @include lg{
                    margin: 47px 0px 18px 0px;
                }

                @include xl{
                    margin: 60px 0px 7px 0px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;

                    @include lg{
                        font-size: rem-calc(37);
                    }
                }
                @include md {
                    grid-area: types;
                }
              }
            
            #a1{
                h3{
                    font-size: rem-calc(27);
                    font-weight: 700; 
                }
                p{
                    font-size: rem-calc(16);
                    font-weight: 400; 
                }
                
                @include md {
                    grid-area: a1;
                }
              }
              
              #a2{
                h3{
                    font-size: rem-calc(27);
                    font-weight: 700; 
                }
                p{
                    font-size: rem-calc(16);
                    font-weight: 400; 
                }
                @include md {
                    grid-area: a2;
                }
              }
              
              #a3{
                h3{
                    font-size: rem-calc(27);
                    font-weight: 700; 
                }
                p{
                    font-size: rem-calc(16);
                    font-weight: 400; 
                }
                @include md {
                    grid-area: a3;
                }
              }
              
              #a4{
                h3{
                    font-size: rem-calc(27);
                    font-weight: 700; 
                }
                p{
                    font-size: rem-calc(16);
                    font-weight: 400; 
                }
                @include md {
                    grid-area: a4;
                }
              }
              
              #a5{
                h3{
                    font-size: rem-calc(27);
                    font-weight: 700; 
                }
                p{
                    font-size: rem-calc(16);
                    font-weight: 400; 
                }
                @include md {
                    grid-area: a5;
                }
              }

              @include md {
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  grid-template-areas: 
                    "types . . ."
                    "a1 a1 a2 a2"
                    "a3 a3 a4 a4"
                    ". a5 a5 .";
                  gap: 16px;  
              }

              @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                  "types . . . . ."
                  "a1 a1 a2 a2 a3 a3"
                  ". a4 a4 a5 a5 .";
                }

                li {
                    background-color: $lavendar;
                        h2 {
                        background-color: $white;
                        }

                    img {
                        width: 100%;
                    }

                    section {
                        display: grid;
                        grid-template-columns: 16px auto 16px;
                        grid-template-areas: ". articlesection-content .";

                        >div {
                            grid-area: articlesection-content;

                            button {
                                background-color:$discord;
                                color: $white;

                                &:hover{
                                    background-color: $white;
                                    color: $discord;
                                    transition: 0.25s;
                                }
                            }
                        }
                    }
                }

              
        }
    }
}