/* =============
    Hero
============= */

#hero{
    img{
        object-fit: cover;
        width: 100%;
    }

    ul{
        
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";

            @include xl{
                grid-template-columns: auto 480px 16px;
            }

            a{
                grid-area: hero-content;
            }
        }

        #hero-sub-1{
            background-color: $spurple;
            p{
                color: $white;
            }
            h4{
                color: $white;
            }
            i{
                color: $white;
            }
            
        }

        #hero-sub-2{
            background-color: $purple;
            p{
                color: $white;
            }
            h4{
                color: $white;
            }
            i{
                color: $white;
            }
            @include xl{
                grid-template-columns: 16px 480px auto;
            }
        }
    }
}