/* =============
    Hero 2
============= */

#hero2{
   ul{
       display: grid;
       grid-template-rows: 360px 486px;
       margin: 24px 0px 0px 0px;


       @include md{
           grid-template-columns: 50% auto;
           grid-template-rows: 625px;
           margin: 40px 0px 0px 0px;

       }

       @include lg{
           grid-template-columns: 60% auto;
           margin: 56px 0px 0px 0px;

       }

       @include xl{
           
           grid-template-columns: 65% auto;
           grid-template-rows: 377px 377px;
           margin: 64px 0px 0px 0px;
           grid-template-areas: 
           "h2-1 h2-2"
           "h2-1 h2-3";
       }

       li{
           background-size: cover;
        //    img{
        //        width: 100%;
        //    }
       }

       #h2-1{
            background-image: url("../img/hero2/hero11.jpg");

            @include xl{
                grid-area: h2-1;
            }
        }

        #h2-2{
            background-image: url("../img/hero2/hero2.jpg");


            @include md{
                background-position: center right;
            }
            
            @include xl{
                grid-area: h2-2;
            }
        }
    
        #h2-3{
           display: none;
           background-image: url("../img/hero2/hero3.jpg");


           @include xl{
               display: list-item;
               grid-area: h2-3;

           }
       }
   }
}