/* =============
    Hero Stripe Right
============= */
#herostriperight {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". herostriperight .";
}
#herostriperight > div {
  grid-area: herostriperight;
}
