/* =============
    Search
============= */
#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: #F8F9FA;

    @include xl{
        grid-template-columns: auto 60% auto;
    }

    >div{
        grid-area: search;
        
        form{
            input{

                @include md{
                    // 16px = 1em
                    // 1em = 1 rem
                    
                    font-size: rem-calc(30);
                    font-weight: 100;
                    color: $dpurple;

                    &::placeholder {
                        color: $dpurple;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: $dpurple;
                    }

                    &::-ms-input-placeholder {
                        color: $dpurple;
                    }
                }
            }
        }
        button {
            background-color:$discord;
            color: $white;
    }
}
}