/* =============
    Footer
============= */
footer {
	background-color: $dpurple;
	color: $lavendar;
	display: grid;
	grid-template-areas: ". footer .";
	grid-template-columns: 16px auto 16px;
	margin: 24px 0px 0px 0px;
	padding: 18px 0px;

    @include md {
		margin: 38px 0px 0px 0px;
		padding: 30px 0px;
	}
	@include lg {
		margin: 56px 0px 0px 0px;
		padding: 48px 0px;
	}
	@include xl {
		grid-template-columns: auto 1200px auto;
		margin: 64px 0px 0px 0px;
	}
	>div {
		grid-area: footer;
		@include md {
			display: grid;
			grid-template-areas: "locations news"
                "locations icons";
			grid-template-columns: 50% auto;
		}
		@include lg {
			grid-template-areas: "locations news icons";
			grid-template-columns: repeat(3, 1fr);
		}
		section {
			ul {
				li {
					i {
					}
				}
			}
		}
		h4 {
			font-size: rem-calc(20);
			font-weight: 700;
		}
		h5 {
			font-size: rem-calc(16);
			font-weight: 700;
		}
		p {
			font-size: rem-calc(12);
			font-weight: 400;
		}
		form {
			input {
				color: $dpurple;
				font-size: rem-calc(14);
				font-weight: 600;
				&::placeholder {
					color: $dpurple;
					opacity: 1;
				}
				&:-ms-input-placeholder {
					color: $dpurple;
				}
				&::-ms-input-placeholder {
					color: $dpurple;
				}
			}
		}
	}
	#locations {
		@include md {
			grid-area: locations;
		}
	}
	#news {
		button {
			background-color: $discord;
			color: $white;
			&:hover {
				background-color: $white;
				color: $discord;
				transition: 0.25s;
			}
		}
		@include md {
			grid-area: news;
		}
	}
	#icons {
		ul {
			display: flex;
			justify-content: left;
			margin: 48px 0px;
			li {
				margin: 0px 16px;
				a:link,
                a:visited {
					color: $white;
					transition: 0.25s;
					&:hover,
                    &:active {
						color: $discord;
					}
				}
				@include md {
					margin: 0px 24px;
				}
			}
		}
		// @include md {
			//     grid-area: icons;
		}
	
    


    // @include md {
    //     display: grid;
    //     gap: 16px;
    //     grid-template-areas: "locations sing-up"
    //         "locations follow";
    //     grid-template-columns: 50% auto;
    // }

    // @include xl {
    //     grid-template-areas: "locations sing-up follow";
    //     grid-template-columns: repeat(3, 1fr);
    // }

    // .footer-section {
    //     padding-bottom: 24px;

    //     h1 {
    //         font-size: rem-calc(20);
    //         font-variation-settings: "wght"600;
    //         margin-bottom: 16px;
    //     }
    // }

    // #locations {
    //     @include md {
    //         grid-area: locations;
    //     }

    //     section {
    //         border-bottom: 1px solid $white;
    //         margin-bottom: 16px;
    //         padding-bottom: 16px;

    //         h2 {
    //             font-size: rem-calc(16);
    //             font-variation-settings: "wght"600;
    //             margin-bottom: 8px;
    //         }

    //         ul {
    //             li {
    //                 display: flex;
    //                 font-size: rem-calc(14);
    //                 font-variation-settings: "wght"400;
    //                 margin-bottom: 8px;

    //                 i {
    //                     color: $purple;
    //                     margin-right: 10px;
    //                 }

    //                 div {
    //                     align-items: center;
    //                     display: flex;
    //                 }

    //                 a:link,
    //                 a:visited {
    //                     color: $white;

    //                     &:hover,
    //                     &:active {
    //                         color: $purple;
    //                     }
    //                 }
    //             }
    //         }

    //         &:last-child {
    //             border: none;
    //             margin-bottom: 0px;
    //             padding-bottom: 0px;
    //         }
    //     }
    // }

    // #sign-up {
    //     @include md {
    //         grid-area: sing-up;
    //     }

    //     form {
    //         input {
    //             background-color: $white;
    //             border: none;
    //             border-radius: 0;
    //             color: $dpurple;
    //             font-variation-settings: "wght"400;
    //             padding: 16px 2%;
    //             width: 96%;

    //             &::placeholder {
    //                 /* Chrome, Firefox, Opera, Safari 10.1+ */
    //                 color: $dpurple;
    //                 /* Firefox */
    //                 opacity: 1;
    //             }

    //             &:-ms-input-placeholder {
    //                 /* Internet Explorer 10-11 */
    //                 color: $dpurple;
    //             }

    //             &::-ms-input-placeholder {
    //                 /* Microsoft Edge */
    //                 color: $dpurple;
    //             }
    //         }

    //         button {
    //             display: flex;
    //             margin-left: auto;
    //             margin-top: 16px;
    //         }
    //     }
    // }

    // #follow {
    //     @include md {
    //         grid-area: follow;
    //     }

    //     @include xl {
    //         text-align: right;
    //     }

    //     ul {
    //         display: flex;

    //         @include lg {
    //             justify-content: flex-end;
    //         }

    //         li {
    //             margin-right: 16px;

    //             @include md {
    //                 margin: 0 8px;
    //             }

    //             a:link,
    //             a:visited {
    //                 color: $white;
    //                 font-size: rem-calc(30);

    //                 &:hover,
    //                 &:active {
    //                     color: $purple;
    //                 }
    //             }
    //         }
    //     }
    // }
}
	
    